- model_class = Terminal
.page-header
  %h2= 'History'
  %h2= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:imei)
      %th= model_class.human_attribute_name(:os_version)
      %th= model_class.human_attribute_name(:rental_status_id)
      %th= model_class.human_attribute_name(:phone_number)
      %th= model_class.human_attribute_name(:remark)
      %th= model_class.human_attribute_name(:created_at)
      %th= model_class.human_attribute_name(:updated_at)
  %tbody
    - @terminal_historys.map(&:reify).each do |terminal|
      %tr
        %td= terminal.id
        %td= terminal.name
        %td= terminal.imei
        %td= terminal.os_version
        %td= terminal.rental_status_id ? terminal.rental_status.name : nil
        %td= terminal.sim ? terminal.sim.phone_number : nil
        %td= terminal.remark
        %td= l terminal.created_at
        %td= l terminal.updated_at
