<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application_type.name %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @application_type.remark %>
</p>

<%= link_to 'Edit', edit_application_type_path(@application_type) %> |
<%= link_to 'Back', application_types_path %>
