- model_class = PcTerminal
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @pc_terminal.name
%p
  %strong= model_class.human_attribute_name(:manage_id) + ':'
  %br
  = @pc_terminal.manage_id
%p
  %strong= model_class.human_attribute_name(:rental_status_id) + ':'
  %br
  = @pc_terminal.rental_status_id
%p
  %strong= model_class.human_attribute_name(:remark) + ':'
  %br
  = @pc_terminal.remark


= link_to t('.back', :default => t("helpers.links.back")), pc_terminals_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_pc_terminal_path(@pc_terminal), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), pc_terminal_path(@pc_terminal), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
