= form_for @application, :html => { :class => "form-horizontal application" } do |f|
  - if @application.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@application.errors.count, "error")
          prohibited this application from being saved:
      .panel-body
        %ul
          - @application.errors.full_messages.each do |msg|
            %li= msg
  .control-group
    = f.label :version, :class => 'control-label'
    .controls
      = f.text_field :version, :class => 'form-control'
    = error_span(@application[:version])
  .control-group
    = f.label :application_type_id, :class => 'control-label'
    .controls
      = f.collection_select :application_type_id, ApplicationType.all, :id, :name, :include_blank => false, :selected => @application.application_type.id
    = error_span(@application[:application_type_id])
  .control-group
    = f.label :remark, :class => 'control-label'
    .controls
      = f.text_field :remark, :class => 'form-control'
    = error_span(@application[:remark])
  = f.submit nil, :class => 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), |
    applications_path, :class => 'btn btn-default'               |
