- model_class = Application
.page-header
  %h1= t '.title', :default => model_class.model_name.human.titleize
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:version)
      \:
  %dd= @application.version
  %dt
    %strong
      = model_class.human_attribute_name(:application_type)
      \:
  %dd= @application.application_type.name
  %dt
    %strong
      = model_class.human_attribute_name(:remark)
      \:
  %dd= @application.remark
= link_to t('.back', :default => t("helpers.links.back")), |
  applications_path, :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
  application_path(@application),                                                                              |
  :method => 'delete',                                                                                         |
  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
  :class => 'btn btn-danger'
