<%- model_class = Terminal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:imei) %></th>
      <th><%= model_class.human_attribute_name(:os_version) %></th>
      <th><%= model_class.human_attribute_name(:rental_status_id) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:remark) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @terminals.each do |terminal| %>
      <tr>
        <td><%= link_to terminal.id, terminal_path(terminal) %></td>
        <td><%= terminal.name %></td>
        <td><%= terminal.imei %></td>
        <td><%= terminal.os_version %></td>
        <td><%= terminal.rental_status_id ? terminal.rental_status.name : nil %></td>
        <td><%= terminal.sim ? terminal.sim.phone_number : nil %></td>
        <td><%= terminal.remark %></td>
        <td><%=l terminal.updated_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_terminal_path(terminal), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      terminal_path(terminal),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_terminal_path,
            :class => 'btn btn-primary' %>
