<h1>Listing terminals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Imei</th>
      <th>Rental status</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terminals.each do |terminal| %>
      <tr>
        <td><%= terminal.name %></td>
        <td><%= terminal.imei %></td>
        <td><%= terminal.rental_status_id %></td>
        <td><%= terminal.remark %></td>
        <td><%= link_to 'Show', terminal %></td>
        <td><%= link_to 'Edit', edit_terminal_path(terminal) %></td>
        <td><%= link_to 'Destroy', terminal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Terminal', new_terminal_path %>
