<%= form_for(@sim) do |f| %>
  <% if @sim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sim.errors.count, "error") %> prohibited this sim from being saved:</h2>

      <ul>
      <% @sim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :rental_status_id %><br>
    <%= f.number_field :rental_status_id %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_field :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
