<%= form_for @sim, :html => { :class => "form-horizontal sim" } do |f| %>

    <% if @sim.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@sim.errors.count, "error") %> prohibited this sim from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @sim.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :phone_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
    <%= error_span(@sim[:phone_number]) %>
  </div>
  <div class="control-group">
    <%= f.label :rental_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rental_status_id, :class => 'form-control' %>
    </div>
    <%= error_span(@sim[:rental_status_id]) %>
  </div>
    <div class="control-group">
      <%= f.label :terminal_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :terminal_id, Terminal.all, :id, :name, :include_blank => true %>
      </div>
      <%= error_span(@sim[:terminal_id]) %>
    </div>
  <div class="control-group">
    <%= f.label :remark, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remark, :class => 'form-control' %>
    </div>
    <%= error_span(@sim[:remark]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            sims_path, :class => 'btn btn-default' %>

<% end %>
