- model_class = Sim
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:phone_number)
      %th= model_class.human_attribute_name(:rental_status_id)
      %th= model_class.human_attribute_name(:terminal_imei)
      %th= model_class.human_attribute_name(:terminal_name)
      %th= model_class.human_attribute_name(:remark)
      %th= model_class.human_attribute_name(:created_at)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @sims.each do |sim|
      %tr
        %td= link_to sim.id, sim_path(sim)
        %td= sim.phone_number
        %td= sim.rental_status_id ? sim.rental_status.name : nil
        %td= sim.terminal_id ? sim.terminal.imei : nil
        %td= sim.terminal_id ? sim.terminal.name : nil
        %td= sim.remark
        %td= l sim.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")),
            edit_sim_path(sim), :class => 'btn btn-default btn-xs'

          = link_to t('.destroy', :default => t("helpers.links.destroy")),
            sim_path(sim),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger'

          = link_to 'history', sim_historys_path(sim), :class => 'btn btn-default btn-xs'

= paginate @sims

= link_to t('.new', :default => t("helpers.links.new")),
  new_sim_path,
  :class => 'btn btn-primary'
