!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title TerminalRentalTool
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse
      .container
        .navbar-header
          %a.navbar-brand 端末レンタル管理
        %ul.nav.navbar-nav
          %li
            = navlink '/terminals', '端末管理'
          %li
            = navlink '/applications', 'アプリの管理'
          %li
            = navlink '/application_types', 'アプリ種類の管理'
          %li
            = navlink '/sims', 'simの管理'
          %li
            = navlink '/pc_terminals', 'PC端末の管理'
    = yield
